.deal{
     margin-top:10px;
     overflow:hidden;
 }
.deal_tip{
    border-bottom:1px solid #a35f23;
    padding:5px;
}
.deal_pic{
    float:left;
    width:600px;
    margin-top:10px;
    overflow:hidden;
    margin-right:50px;
}
.hdnum{
    float:left;
    margin-left:10px;
    margin-right:30px;
}
.idtransformview{
    margin-top:10px;
    margin-left:40px;
}
.slider{
    margin-top:0px;
    margin-left:-40px;
}
.hdnum li{
    margin-bottom:20px;
    cursor:pointer;
}
.deal_info{
    float:left;
    margin-top:10px;
}
.deal_tit{
    font-size:14px;
    font-weight:700;
}
.deal_price{
    margin:20px 0;
}
.font30{
    font-size:30px;
    font-family:Arial;
}
.deal_sold{
    padding:5px;
    border-bottom:1px dotted #CECDCD;
}
.deal_size{
    margin-top: 20px;
}
.deal_size p{
    margin:5px;
    overflow:hidden;
}
.deal_size p span{
    float:left;
}
.deal_size p a{
    float:left;
    margin:0px 5px;
    padding:5px 7px
}
.deal_num{
    margin-top:30px;
    overflow:hidden;
    padding:0 5px;
}
.deal_num span{
    float:left;
    overflow:hidden;
    line-height:21px;
}
.deal_num_c{
    background:url(../image/deal_num.png) no-repeat;
    width:65px;
    height:21px;
    text-align:center;
    margin:0 10px;
}
.minus{
    width:18px;
    display:block;
    float:left;
    height:21px;
}
.add{
    width:22px;
    display:block;
    float:right;
    height:21px;
}
.deal_add_car{
    margin-top:30px;
    font-size: 20px;
    border: 1px #000000;
    border-radius: 10px;
    background-color: red;
    padding: 10px;
    text-align: center;
    display: inline-block;
}
.deal_add_car a{
    /*display:block;*/
    /*background:url(../image/add_s_car.png) no-repeat;*/
    color: white;
    /*text-indent:-9999px;*/
}

.deal_add{
    margin-left: 10px;
    border-radius: 10px;
    margin-top:30px;
    font-size: 16px;
    border: 1px #000000;
    background-color: wheat;
    padding: 13px;
    text-align: center;
    display: inline-block;
}

.deal_collect{
    margin-left: 10px;
    margin-top:30px;
    border-radius: 10px;
    font-size: 16px;
    border: 1px #000000;
    background-color: wheat;
    padding: 13px;
    text-align: center;
    display: inline-block;
}

.pd_l_intr{
    border:1px solid #e2dfdf;
}

.intr_list_tit{
    text-align: center;
    margin-right: 25px;
}

.intr_list_price{
    margin-left: 150px;
}

.pd_l_intr h2{
    border-bottom: 2px solid #a35f23;
    margin: 5px 0;
    padding: 5px;
}

.pd_intr_list{
    margin-top:20px;
}

.pd_intr_list li{
    margin-left: 25px;
    border-bottom:1px dotted #cdcdcd;
    padding:0 4px 10px 4px;
    margin-bottom:10px;
    line-height:25px;
}

.deal_describe_tit{
    border-top:3px solid #2D2D2D;
    overflow:hidden;
    border-right:1px solid #D0D0D0;
    border-bottom:1px solid #D0D0D0;
    border-left:1px solid #D0D0D0;
}
.deal_describe_tit li{
    float:left;
    cursor:pointer;
    padding:5px 15px;
    border-right:1px solid #D0D0D0;
}
.deal_describe_tit li.current{
    background:#2D2D2D;
    color:#fff;
}
.deal_describe{
    padding: 20px;
}
.chenyu{
    height:220px;
    width:220px;
}
#warning-load{
    width:350px;
    height:320px;
    border:1px solid lightgray;
    font-size:16px;
    font-wight:bold;
    margin:10px;
    position:fixed;
    background:rgba(255,255,255);

}
#btn{
    width:130px;
    height:45px;
    margin:8px auto;
    display:block;
    background-color:#ce0606;
    font-size:12px;
    font-weight:bold;
    font-family:"Arial Black", arial-black;
    color:white;
    border:1px solid gray;
    border-radius:5px;

}
#btn:hover{
    background:#f72b2b;
}
.txt{
    width:250px;
    height:40px;
    display:block:

}
.user{
    height:50px;
    width:250px;
    margin:10px auto;

}
#safe{
    font-size:12px;
    font-family:arial, verdana, sans-serif;
    font-weight:bold;
    color:gray;
    padding-left:50px;
}
#logo{
    width:350px;
    height:40px;
    background-color:#ce0606;
    font-size:25px;
    font-family:Georgia, Times, "Times New Roman", serif;
    text-align:center;
    font-weight:bold;
    color:white;
}
#register{
    width:350px;
    text-align:right;

}
.link{
    text-align:right;
    color:#139ff7;
    font-size:12px;
    font-weight:normal;

}
#modal{
    width:370px;
    height:340px;
    background-color: white;
    position:fixed;
}
#myModal{

}


